html{
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}
#world{
    height: 100vh;
    width: 100vh;
    background-color: #00D672;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.screen{
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

