html{
    min-height: 100vh;
    position: relative;
}
body{
    margin: 0;
    height: 100vh;
}
#world{
    min-height: 150vh;
    min-width: 150vw;
}
.screen{
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.dot {
    height: 4vh;
    width: 4vh;
    background-color: #bbb;
    border-radius: 50%;
}
